    @font-face {
        font-family: sfont;
        src: url(./assets/Saira_Stencil/SairaStencil-VariableFont_wdth\,wght.ttf);
    }
main {
      display: none;
    }

    .desktop-message {
      display: block;
      text-align: center;
      padding: 50px;
      font-family: sfont;
      font-size: 50px;
      font-weight: bold;
      color: #333;
    }

    @media screen and (min-width: 1024px) {
      main {
        display: block;
      }
      .desktop-message {
        display: none;
      }
    }


 